# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/

# Keras model weights
ml/*.keras

# Xcode
iOS/NutriLens/DerivedData/
iOS/NutriLens/NutriLens.xcodeproj/xcuserdata/
iOS/NutriLens/NutriLens.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

# Jupyter
.ipynb_checkpoints/
